.container.zoomed .list.zoomed {
  max-width: 750px;
}

.list {
  height: 100%;
  padding: 5px 5px 0 5px;
  flex-grow: 0;
  width: var(--frameWidth);
}

.listInputBackground {
  background: var(--background);
  opacity: 0.9;
  height: fit-content;
  width: calc(100% - 6px);
  z-index: 2;
  margin-top: -5px;
  left: -2px;
  border-radius: 5px;
}

.listFrame {
  height: 100%;
  width: 100%;
  position: absolute;
  padding-top: calc(1.5em + 7px);
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-left: -5px;
  padding-left: 8px;
  padding-right: 10px;
}

.listInput {
  font: var(--font);
  font-weight: var(--bold);
  font-size: var(--headingSize);
  text-align: center;
  width: 100%;
  border: none;
  border-radius: 5px;
  position: static;
  background-color: var(--bank);
}

.listTitle {
  border: none;
  margin: 0;
}

.list:first-of-type > .monthYear {
  display: flex;
  position: absolute;
  left: 5px;
  top: 0.5em;
  z-index: 2;
  height: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: var(--fontWeight);
  border-radius: 5px;
}

.list:not(:first-of-type) .monthYear {
  display: none;
}

.deadline {
  list-style-type: "\2193  ";
  color: var(--endDate);
  margin-left: 30px;
  padding-left: 5px;
}

.startdate {
  list-style-type: "\2192  ";
  color: var(--startDate);
  margin-left: 35px;
}

:not(.heading) .task.heading > div > textarea, .list > input {
  font-weight: var(--bold);
}

.monthYear {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  top: calc(50% - 0.5em);
  left: 0;
  font-weight: var(--fontWeight);
}

.monthYear > span {
  font-size: 0.5em;
  margin-left: 5px;
}