.container.zoomed .list.zoomed {
  max-width: 750px;
}

.list {
  height: 100%;
  padding: 5px 5px 0 5px;
  width: 300px;
}

.listInputBackground {
  background: var(--background);
  opacity: 0.9;
  height: fit-content;
  width: calc(100% - 6px);
  z-index: 2;
  margin-top: -5px;
  left: -2px;
  border-radius: 5px;
}

.listFrame {
  height: 100%;
  width: 100%;
  position: absolute;
  padding-top: calc(1.5em + 7px);
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-left: -5px;
  padding-left: 8px;
  padding-right: 10px;
}

.listInput {
  font: var(--font);
  font-weight: var(--bold);
  font-size: var(--headingSize);
  text-align: center;
  width: 100%;
  border: none;
  border-radius: 5px;
  position: static;
  background-color: var(--bank);
}

.listTitle {
  border: none;
  margin: 0;
}

.deadline {
  list-style-type: "\2193  ";
  color: var(--endDate);
  margin-left: 30px;
  padding-left: 5px;
}

.startdate {
  list-style-type: "\2192  ";
  color: var(--startDate);
  margin-left: 35px;
}

:not(.heading) .task.heading > div > textarea, .list > input {
  font-weight: var(--bold);
}

/* Focused settings */

.frameContainer.focused .list {
  float: none;
  clear: left;
  width: 100%;
  height: 80vh;
}

/*

.frameContainer.focused .listFrame {
  height: max-content;
  overflow: hidden;
}

.frameContainer.focused .list > .listFrame > .listContent {
  padding-bottom: 100px;
  height: max-content;
  overflow: hidden;
} */