.container.zoomed .frame:not(.zoomed) {
  display: none !important;
}

.container.zoomed .frame.zoomed {
  width: 100% !important;
  height: 100% !important;
}

.frameContainer {
  width: 100%;
  height: 50%;
  padding: 8px 8px 0;
  overflow-y: scroll;
}

.frame {
  width: max-content;
  height: 100%;
}

.frame .list {
  float: left;
}

.frame.focused {
  width: calc(50% - 10px);
  margin: 0px 5px;
  height: 100%;
  float: left;
}

#river.frame.focused {
  border-top: none !important;
}

.changeButton {
  display: none;
  height: 100%;
  width: 1em;
  background: var(--background);
  border: none;
  font: var(--menufont);
  border-radius: 5px;
  padding: 0px;
  margin: 0;
}

.container.zoomed .list.zoomed {
  max-width: 750px;
}