.container.zoomed .frameContainer:not(.zoomed) {
  display: none !important;
}

.container.zoomed .frameContainer.zoomed {
  width: 100% !important;
  height: 100% !important;
}

.frameContainer {
  width: 100%;
  height: 50%;
  padding: 8px 8px 0;
  overflow-y: scroll;
}

.frame {
  width: max-content;
  height: 100%;
}

.frame .list {
  float: left;
}

.frameContainer.focused {
  width: calc(50% - 10px);
  margin: 0px 5px;
  height: 100%;
  float: left;
}

.frameContainer.focused .frame {
  width: 100%;
  height: max-content;
}

#river.frame.focused {
  border-top: none !important;
}

.frameContainer.focused .changeButton {
  width: 100%;
  margin-bottom: 8px;
}

.changeButton {
  height: 47px;
  width: 1em;
  background: var(--bank);
  border: none;
  font: var(--menufont);
  border-radius: 5px;
  padding: 0px;
  margin: 0;
}

.container.zoomed .list.zoomed {
  max-width: 750px;
}
