/* LANDING PAGE */

@font-face {
  font-family: "Garamond";
  src:  url("garamond.ttf") format("truetype");
}

@font-face {
  font-family: "Garamond";
  src:  url("garamond-bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Garamond";
  src:  url("garamond-italic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Garamond";
  src:  url("garamond-bold-italic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}

/* MAIN */

html {
  scroll-behavior: smooth;
}

body {
  font: 24px var(--font), serif;
  margin: 0;
  background-color: var(--background);
  color: var(--textcolor);
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

/* TITLES */

.title {
  width: 100%;
  height: 96px;
  letter-spacing: calc((100vw - 300px) / 12);
  font-size: 48px;
  color: var(--textcolor);
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  position: fixed;
  top: 0; left: 0;
  padding-top: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 0;
  padding-top: 0.5em;
}

input {
  font: inherit;
  background-color: var(--background);
  color: var(--textcolor);
  display: inline-block;
  width: 40%;
}

button {
  font: 16px monospace;
  background-color: var(--background);
  color: var(--textcolor);
  border: 1px solid var(--select);
  border-radius: 5px;
  transition-duration: 0.3s;
}

button:hover, button.clicked {
  background-color: var(--select);
}

#logoimg {
  margin: 0 calc(10vw - 1em);
  height: 0.7em;
}

/* DIVS */

#welcome {
  width: 50%;
  float: left;
  padding: 0 15px;
}

#main {
  margin-top: 96px;
}

#tutorial {
  height: 100%;
  width: 50%;
  float: left;
}

.tutorial-frame {
  width: 100%;
  height: 100%;
  background-color: var(--background);
  color: white;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
}

#text {
  height: 100%;
  overflow-y: auto;
  width: 50%;
  float: left;
}

#demo {
  width: 50%;
  float: left;
}

.banner {
  width: 100%;
  text-align: center;
  font-family: inherit;
  letter-spacing: 4px;
  font-size: 100%;
  color: white;
  background: #000;
  margin-top: 24px;
}

.tutorial-vid { 
  display: block;
  margin: 0 5px;
}

video {
  width: 100%;
}

.demoframe {
  width: 100%;
  height: calc(100vh - 100px - 1.5em);
  border: none;
}

p {
  margin: 0;
}

span {
  display: inline-block;
}

span.b {
  color: var(--select);
}

span.h1, span.h2, span.h3 {
  margin-top: 0.5em;
  text-align: center;
  line-height: 1em;
  font-family: var(--font), serif;
  width: 100%;
}

span.h1 {
  font-size: 200%;
  font-weight: bold; 
  color: var(--select);
  padding-bottom: 0.5em;
}

.tutorial-vid .h1 {
  font-size: 3vw;
}

.centered {
  width: fit-content;
  margin: 0 auto;
}

#demobut {
  display: none;
}

@media only screen and (max-width: 1200px) and (min-width: 600px) {
  #welcome, #demo {
    width: 100%;
  }
  #demobut {
    display: inline-block;
  }
  body {
    overflow: visible;
  }
  .tutorial-vid {
    width: 50%;
    float: left;
    margin: 0;
    padding: 0 5px;
  }
  .tutorial-frame {
    display: block;
  }
  #demo {
    margin-top: 3.5em;
  }

}

@media only screen and (max-width: 600px) {
  body {
    font: 18px var(--font), serif;
    overflow: visible;
  }
  #demo {
    margin-top: 5em;
  }
  #demobut {
    display: inline-block;
  }
  #main {
    margin-top: 14vw;
  }
  #tutorial, #welcome, #text, #demo {
    width: 100%;
  }
  #tutorial {
    height: 300px;
  }
  .tutorial-frame {
    flex-direction: row;
    overflow-y: hidden;
  }
  .tutorial-vid {
    padding: 0 2px;
    width: 400px;
  }
  .tutorial-vid .h1 {
    font-size: 8vw;
    width: 200px;
  }
  .title {
    font-size: 7vw;
    height: 14vw;
    letter-spacing: calc((60vw - 50px) / 12);
  }
  .banner {
    letter-spacing: calc((100vw - 200px) / 8);
    font-size: 36px;
  }
  .demoframe {
    height: calc(100vh - 100px - 1.5em);
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1000px) {
  .tutorial-vid .h1 {
    font-size: 36px;
  }
}