





.buttonBar {
  float: left;
}

.title {
  width: 100%;
  font: var(--font);
  font-size: 3em;
  text-align: center;
}




.container {
  height: calc(100% - 2em);
  width: 100%;
  flex-grow: 1;
}

.container.hideComplete .complete {
  display: none;
}

.task.collapsed .listContent {
  display: none !important;
}

.table {
  height: calc(100vh - 37px);
  width: 100vw;
  overflow: auto;
  padding: 30px;
  position: fixed;
  top: 37px;
  left: 0;
  z-index: 10;
  display: table;
  flex-direction: column;
  background: var(--background);
  color: var(--foreground);
}

/* .table tbody {
  display: block;
  overflow: auto;
  height: 100%;
  width: 100%;
} */

/* .table tr {
  display: inline-block;
  padding: 50px; */
/* } */

.task.collapsed textarea {
  opacity: 0.75;
}

.task.collapsed {
  margin-bottom: 0.5em;
}



#river {
  margin-bottom: 5px;
}

.statusBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  font: var(--font);
  font-weight: var(--bold);
  width: 150px;
}

.title > .r {
  color: var(--select);
}

.title > .b {
  color: var(--foreground);
}

.searchBar {
  width: 5em;
  font: var(--font);
  font-size: 18px;
  height: 1.5em;
  border: 1px solid var(--border);
}

.buttonBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0px;
  flex-wrap: wrap; 
}

.buttonBar.nowrap {
  flex-wrap: nowrap;
}

.timerBar {
  width: 65px;
  font: var(--menufont);
  font-size: 18px;
  text-align: center;
  border: 1px solid var(--border);
  border-radius: 5px;
  margin-left: 2px;
  height: 1.5em;
  vertical-align: top;
}

.buttonBar {
  display: flex;
}

span {
  cursor: default;
}

.button {
  font: var(--menufont);
  font-size: 12px;
  height: 1.5em;
  border: none;
  border-radius: 6px;
  margin: 1px;
  cursor: pointer;
}



.infoArea {
  position: fixed;
  z-index: 4 !important;
  top: 10vh;
  left: 10vw;
  height: 80vh;
  width: 80vw;
  display: none;
  background: #000;
  font: var(--font);
  font-size: var(--fontSize);
}



.list {
  height: 100%;
  padding: 5px 5px 0 5px;
  flex-grow: 0;
  width: var(--frameWidth);
}

.list > .listFrame > .listContent {
  height: fit-content;
  flex-grow: 1;
  padding-bottom: 50%;
  width: calc(100% + 7px);
}

.task .task .task {
  padding-left: var(--padding);
}



.listInputBackground {
  background: var(--background);
  opacity: 0.9;
  height: fit-content;
  width: calc(100% - 6px);
  z-index: 2;
  margin-top: -5px;
  left: -2px;
  border-radius: 5px;
}



.listFrame {
  height: 100%;
  width: 100%;
  position: absolute;
  padding-top: calc(1.5em + 7px);
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-left: -5px;
  padding-left: 8px;
  padding-right: 10px;
}


.task {
  list-style: none;
  margin-top: 10px;
  border-radius: 5px;
  background: var(--river);
  /* padding-top: calc(var(--lineSpacing) / 2);
  padding-bottom: calc(var(--lineSpacing) / 4); */
}

.list > .listFrame > .listContent > .task {
  padding-left: 5px;
  padding-top: var(--lineSpacing);
  padding-bottom: calc(var(--lineSpacing) / 2);
}

.listContent {
  padding-bottom: 5px;
}

.task.event {
  background: var(--event) !important;
}


.task .task {
  background: transparent;
}

.button.complete, .task.complete textarea {
  opacity: 0.5;
}

.task.complete textarea {
  text-decoration: line-through;
}

.button.important {
  border: 1px solid var(--important);
  font-weight: bold;
}

.task.event.important {
  background: var(--importantE) !important;
}

.task.important {
  background: var(--important) !important;
}

.task.maybe {
  opacity: 0.75;
}

.task.important {
  border: 1px solid var(--border);
}

.info {
  height: calc(var(--padding) / 2);
  width: calc(var(--padding) / 2);
  margin: 2px;
  border: 1px solid var(--select);
  background-color: var(--select);
  border-radius: 100%;
  vertical-align: text-top;
  cursor: pointer;
  /* top: calc(var(--fontSize) * 0.6 - 5px); */
}

.taskInfo {
  height: 12px;
  width: 100%;
  display: flex;
  padding-left: calc(var(--padding));
  justify-content: flex-end;
  align-items: center;
}

.taskInfo * {
  margin-right: 5px;
  font: var(--menufont);
  font-size: 10px;
}

.taskInfo *:empty {
  display: none;
}

.taskInfo:empty {
  display: none;
}

.task .task .listContent:empty {
  padding: 0;
}

.repeatButton.true {
  color: var(--select);
}

.options {
  height: 60px;
  width: calc(100% + 5px);
  max-width: 250px;
  background-color: var(--background);
  position: absolute;
  top: calc(100% + 5px);
  left: -5px;
  z-index: 2;
  opacity: 1;
  border-radius: 5px;
}



.options * {
  z-index: 2;
}

.options .buttonBar {
  margin: 3px 0;
  justify-content: space-around;
}

.options button {
  font-size: 14px !important;
  margin: 0 1px;
  padding: 0px 3.5px;
}

.optionsInput {
  font: var(--font);
  height: 24px;
  font-size: 0.75em;
  width: 50%;
  background-color: var(--midground);
  border: 1px solid var(--border);
}



.event > .taskContent > div:not(.options) > span.endDate {
  width: fit-content;
}

.startDate {
  color: var(--startDate);
}

span.startDate, span.endDate {
  font: var(--menufont);
  font-size: 11px;
  width: 2.5em;
  text-align: center;
}

.event > .taskContent > span.startDate {
  font-size: 14px;
  border: 1px solid var(--select);
  border-radius: 5px;
  padding: 0px 2px;
  margin-right: 1px;
  background-color: var(--select);
  color: var(--background);
  width: 3em;
  height: 1.5em;
  /* top: calc(var(--fontSize) * 0.6 - 7px); */
}

.event > .taskContent .startEndSpans {
  flex-direction: row;
}

.event span.endDate {
  margin-left: 5px;
}

.taskContent {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.endDate {
  color: var(--endDate);
}

.deadline {
  list-style-type: "\2193  ";
  color: var(--endDate);
  margin-left: 30px;
  padding-left: 5px;
}

.startdate {
  list-style-type: "\2192  ";
  color: var(--startDate);
  margin-left: 35px;
}

.listInput {
  font: var(--font);
  font-weight: var(--bold);
  font-size: var(--headingSize);
  text-align: center;
  width: 100%;
  border: none;
  border-radius: 5px;
  position: static;
  background-color: var(--bank);
}

.listTitle {
  border: none;
  margin: 0;
}

.list:first-of-type > .monthYear {
  display: flex;
  position: absolute;
  left: 5px;
  top: 0.5em;
  z-index: 2;
  height: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: var(--fontWeight);
  border-radius: 5px;
}

.list:not(:first-of-type) .monthYear {
  display: none;
}

.monthYear {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  top: calc(50% - 0.5em);
  left: 0;
  font-weight: var(--fontWeight);
}

.monthYear > span {
  font-size: 0.5em;
  margin-left: 5px;
}

.repeatOn {
  background-color: var(--event) !important;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.editBar {
  flex-grow: 1;
  border: none;
  font: var(--font);
  color: var(--foreground);
  background: transparent;
  resize: none;
  overflow-y: hidden;
}

.editSpan {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

:not(.heading) .task.heading > div > textarea, .list > input {
  font-weight: var(--bold);
}

.editBar, .searchBar {
  font-weight: var(--fontWeight);
  border-radius: 5px;
}

.task .task.heading > div > textarea {
  font-weight: var(--fontWeight);
}

.task .task textarea {
  font-size: 85%;
}

.task .task .startEndSpans {
  height: 0.85em;
  line-height: 1em;
}

/* NEW INFO AREA */

.timeDiv span {
  margin: 0px 0px 0px 1.5px;
  font: var(--menufont);
  font-size: 14px;
}

.e, .s {
  width: 1em;
  text-align: right;
  cursor: ns-resize;
}

.timeDiv > span {
  display: flex;
  flex-wrap: nowrap;
  margin: 1px;
}

.startSpan.start {
  color: var(--startDate);
}

.startSpan.end {
  color: var(--endDate);
  margin-left: 3px;
}

.notesSpan {
  color: var(--foreground);
}

.disable-select * {
  -webkit-user-select: none !important;  
  -moz-user-select: none !important;    
  -ms-user-select: none !important;      
  user-select: none !important;
}

.infoSpan {
  font: var(--menufont);
  display: block;
  font-size: 14px;
  border: 1px solid var(--border);
  border-radius: 5px;
  flex-grow: 1;
  width: 100%;
  height: 1.5em;
}