@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,500;0,700;1,300;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,600;0,700;1,300;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,400;0,600;1,100;1,400;1,600&display=swap");

* {
  box-sizing: border-box;
  position: relative;
}

.buttonBar {
  float: left;
}

.title {
  width: 100%;
  font: var(--font);
  font-size: 3em;
  text-align: center;
}


textarea, input, select, button, option {
  height: 1.25em;
  color: var(--foreground);
}

button {
  background-color: var(--midground);
}

textarea, input, select {
  background-color: var(--background);
}

select {
  max-width: 90px;
  background: var(--background);
  -webkit-appearance: none;
  border: 1px solid var(--border);
  padding: 3px;
  height: 1.7em;
  cursor: pointer;
}

select, option {
  font: var(--menufont);
  font-size: 12px;
}

body {
  font: var(--font);
  color: var(--foreground);
  background-color: var(--background);
  margin: 0;
}

#root {
  height: 100vh;
  width: 100vw;
  padding: 10px;
}

.container {
  height: calc(100% - 2em);
  width: 100%;
}

.container.hideComplete .complete {
  display: none;
}

.task.collapsed .listContent {
  display: none !important;
}

.task.collapsed textarea {
  opacity: 0.75;
}

.task.collapsed {
  margin-bottom: 0.5em;
}

.button.hideComplete {
  opacity: 0.75;
}

#river {
  margin-bottom: 5px;
}

.statusBar {
  height: 2em;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.searchBar {
  width: 8em;
  font: var(--font);
  font-size: 0.75em;
  border: 1px solid var(--border);
}

.buttonBar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1em;
  flex-wrap: wrap; 
}

.buttonBar.nowrap {
  flex-wrap: nowrap;
}

.timerBar {
  width: 5em;
  font: var(--menufont);
  font-size: 0.75em;
  text-align: center;
  border: none;
  vertical-align: top;
}

.buttonBar {
  display: flex;
}

.button {
  font: var(--menufont);
  font-size: 12px;
  height: 1.5em;
  border: none;
  border-radius: 6px;
  margin: 1px;
}

.frame {
  width: 100%;
  height: 50%;
  display: flex;
}

.frame.focused {
  width: calc(50% - 10px);
  margin: 0px 5px;
  height: 100%;
  float: left;
}

#river.frame.focused {
  border-top: none !important;
}

h1 {
  font-size: 1.5em;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.list {
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  width: var(--frameWidth);
}

.list > .listContent {
  margin: 0;
  padding-top: 1em;
  overflow-y: auto;
  height: initial;
  flex-grow: 1;
}

.listContent {
  padding-left: 5px;
}

.list:not(:first-of-type) > .listContent {
  border-left: 1px solid var(--border) !important;
}

.task {
  list-style: none;
  margin-top: -10px;
}

.task.event > div > textarea {
  background: var(--event);
  border-radius: 5px;
}

.button.complete, .task.complete textarea {
  opacity: 0.5;
}

.task.complete textarea {
  text-decoration: line-through;
}

.button.important, .task.important > div > textarea {
  color: var(--important);
  font-weight: bold;
}

.button.maybe, .task.maybe > div > textarea {
  color: var(--maybe);
  opacity: 0.75;
}

.task.maybe textarea {
  opacity: 0.75 !important;
}

.info {
  height: calc(var(--padding) / 2);
  width: calc(var(--padding) / 2);
  display: inline-block;
  border: 1px solid var(--select);
  background-color: var(--select);
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 5px;
  vertical-align: text-top;
  cursor: pointer;
}

.repeatButton.true {
  color: var(--select);
}

.options {
  height: 50px;
  width: 150px;
  background-color: var(--background);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  opacity: 1;
}

.options * {
  z-index: 2;
}

.optionsInput {
  font: var(--font);
  height: 24px;
  font-size: 0.75em;
  width: 50%;
  background-color: var(--midground);
  border: 1px solid var(--border);
}

.changeButton {
  height: 100%;
  width: 1em;
  background: var(--background);
  border: none;
  font: var(--menufont);
  border-radius: 5px;
  padding: 0px;
  margin: 0;
}

.startEndSpans {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.startDate:not(:empty), .endDate:not(:empty) {
  width: 3em;
}

.startDate {
  color: var(--startDate);
}

.task .task span.startDate, .task .task span.endDate {
  font-size: 0.5em;
}

span.startDate, span.endDate {
  font-size: 0.75em;
  text-align: center;
}

.taskContent {
  display: none;
  padding-left: var(--padding);
  display: flex;
  width: 100%;
  flex-direction: row;
}

.endDate {
  color: var(--endDate);
}

.deadline {
  list-style-type: "\2193  ";
  color: var(--endDate);
  margin-left: 20px;
}

.startdate {
  list-style-type: "\2192  ";
  color: var(--startDate);
  margin-left: 20px;
}

.repeat {
  margin-left: 20px;
}

.listInput {
  font: var(--font);
  font-weight: bold;
  font-size: var(--headingSize);
  text-align: center;
  width: 100%;
  background-color: var(--background);
  border: none;
}

.listTitle {
  border: none;
  margin: 0;
}

.list:first-of-type > .monthYear {
  display: flex;
}


.monthYear {
  display: none;
  position: absolute;
  left: var(--padding);
  z-index: 2;
  height: 2em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.monthYear > span {
  font-size: 18px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.editBar {
  flex-grow: 1;
  border: none;
  font: var(--font);
  color: var(--foreground);
  background: transparent;
  resize: none;
  overflow-y: hidden;
}

.editSpan {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

:not(.heading) .task.heading > div > textarea, .list > input {
  font-weight: var(--bold);
}

.editBar, .searchBar {
  font-weight: var(--fontWeight);
}

.task.heading > .listContent {
  border-left: 1px solid var(--border);
}

.task .task.heading > div > textarea {
  font-style: italic;
  font-weight: var(--fontWeight);
}

.task .task textarea, .task .task span {
  font-size: 90%;
}