@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,500;0,700;1,300;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,600;0,700;1,300;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,400;0,600;1,100;1,400;1,600&display=swap");

* {
  box-sizing: border-box;
  position: relative;
}

.container.zoomed .frame:not(.zoomed),
.container.zoomed .list:not(.zoomed) {
  display: none !important;
}

.container.zoomed .frame.zoomed, 
.container.zoomed .list.zoomed {
  width: 100% !important;
  height: 100% !important;
}

.container.zoomed .changeButton {
  display: none;
}

.buttonBar {
  float: left;
}

.title {
  width: 100%;
  font: var(--font);
  font-size: 3em;
  text-align: center;
}


textarea, input, select, button, option {
  height: 1.25em;
  color: var(--foreground);
}

button {
  background-color: var(--midground);
}

textarea, input, select {
  background-color: var(--background);
}

select {
  background: var(--background);
  -webkit-appearance: none;
  border: 1px solid var(--border);
  padding: 3px;
  height: 1.7em;
  margin: 0px 1px;
  cursor: pointer;
}

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;500&display=swap');

select, option {
  font: var(--menufont);
  font-weight: 200;
  font-size: 12px;
  padding: 0 2px;
  height: 1.7em;
}

body {
  font: var(--font);
  color: var(--foreground);
  background-color: var(--background);
  margin: 0;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.container {
  height: calc(100% - 2em);
  width: 100%;
  flex-grow: 1;
}

.container.hideComplete .complete {
  display: none;
}

.task.collapsed .listContent {
  display: none !important;
}

.task.collapsed textarea {
  opacity: 0.75;
}

.task.collapsed {
  margin-bottom: 0.5em;
}

.button.hideComplete {
  opacity: 0.75;
}

#river {
  margin-bottom: 5px;
}

.statusBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  font: var(--font);
  font-weight: var(--bold);
  width: 120px;
}

.title > .r {
  color: var(--select);
}

.title > .b {
  color: var(--foreground);
}

.searchBar {
  width: 5em;
  font: var(--font);
  font-size: 16px;
  border: 1px solid var(--border);
}

.buttonBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0px;
  flex-wrap: wrap; 
}

.buttonBar.nowrap {
  flex-wrap: nowrap;
}

.timerBar {
  width: 65px;
  font: var(--menufont);
  font-size: 16px;
  text-align: center;
  border: 1px solid var(--border);
  border-radius: 5px;
  margin-left: 2px;
  height: 1.3em;
  vertical-align: top;
}

.buttonBar {
  display: flex;
}

.button {
  font: var(--menufont);
  font-size: 12px;
  height: 1.5em;
  border: none;
  border-radius: 6px;
  margin: 1px;
}

.frame {
  width: 100%;
  height: 50%;
  display: flex;
}

.frame.focused {
  width: calc(50% - 10px);
  margin: 0px 5px;
  height: 100%;
  float: left;
}

#river.frame.focused {
  border-top: none !important;
}

h1 {
  font-size: 1.5em;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.list {
  height: 100%;
  padding: 5px 5px 0 5px;
  flex-grow: 0;
  width: var(--frameWidth);
}

.list > .listFrame > .listContent {
  height: fit-content;
  flex-grow: 1;
  padding-bottom: 50%;
}

.task .task .task {
  padding-left: var(--padding);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  color: var(--select);
}

.listInputBackground {
  background: var(--background);
  opacity: 0.9;
  height: fit-content;
  width: 100%;
  z-index: 2;
  margin-top: -5px;
  left: -5px;
  padding-left: 3px;
  width: calc(100% - 3px);
  border-radius: 5px;
}

.listFrame {
  height: 100%;
  width: 100%;
  position: absolute;
  padding-top: calc(1.5em + 7px);
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-left: -5px;
  padding-left: 8px;
  padding-right: 10px;
}

.list:not(:first-of-type) > .listFrame {
  border-left: 1px solid var(--border) !important;
}

.task {
  list-style: none;
  margin-top: 5px;
  border-radius: 5px;
  background: var(--river);
}

.list > .listFrame > .listContent > .task {
  padding-left: 5px;
  margin-top: 10px;
}

.listContent {
  padding-bottom: 5px;
}

.task.event {
  background: var(--event) !important;
}


.task .task {
  background: transparent;
}

.button.complete, .task.complete textarea {
  opacity: 0.5;
}

.task.complete textarea {
  text-decoration: line-through;
}

.button.important, .task.important > div > textarea {
  color: var(--important);
  font-weight: bold;
}

.button.maybe, .task.maybe > div > textarea {
  color: var(--maybe);
  opacity: 0.75;
}

.task.maybe textarea {
  opacity: 0.75 !important;
}

.info {
  height: calc(var(--padding) / 2);
  width: calc(var(--padding) / 2);
  margin: 2px;
  border: 1px solid var(--select);
  background-color: var(--select);
  border-radius: 100%;
  vertical-align: text-top;
  cursor: pointer;
}

.taskInfo {
  height: 12px;
  width: 100%;
  display: flex;
  padding-left: calc(var(--padding));
  justify-content: flex-end;
  align-items: center;
}

.taskInfo * {
  margin-right: 5px;
}

.taskInfo *:empty {
  display: none;
}

.taskInfo:empty {
  display: none;
}

.task .task .listContent:empty {
  padding: 0;
}

.repeatButton.true {
  color: var(--select);
}

.options {
  height: 60px;
  width: 150px;
  background-color: var(--background);
  position: absolute;
  top: calc(100% + 5px);
  left: -5px;
  z-index: 2;
  opacity: 1;
  border-radius: 5px;
}

.options * {
  z-index: 2;
}

.optionsInput {
  font: var(--font);
  height: 24px;
  font-size: 0.75em;
  width: 50%;
  background-color: var(--midground);
  border: 1px solid var(--border);
}

.changeButton {
  height: 100%;
  width: 1em;
  background: var(--background);
  border: none;
  font: var(--menufont);
  border-radius: 5px;
  padding: 0px;
  margin: 0;
}

.startDate {
  color: var(--startDate);
}

span.startDate, span.endDate {
  font: var(--menufont);
  font-size: 11px;
}

.event > .taskContent span.startDate {
  font-size: 16px;
  border: 1px solid var(--select);
  border-radius: 5px;
  padding: 0px 2px;
  background-color: var(--select);
  color: var(--foreground);
}

.event > .taskContent .startEndSpans {
  flex-direction: row;
}

.event span.endDate {
  margin-left: 5px;
}

.taskContent {
  display: none;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.endDate {
  color: var(--endDate);
}

.deadline {
  list-style-type: "\2193  ";
  color: var(--endDate);
  margin-left: 30px;
  padding-left: 5px;
}

.startdate {
  list-style-type: "\2192  ";
  color: var(--startDate);
  margin-left: 35px;
}

.listInput {
  font: var(--font);
  font-weight: var(--bold);
  font-size: var(--headingSize);
  text-align: center;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: var(--bank);
}

.listTitle {
  border: none;
  margin: 0;
}

.list:first-of-type > .monthYear {
  display: flex;
  position: absolute;
  left: 5px;
  top: 0.5em;
  z-index: 2;
  height: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: var(--fontWeight);
  border-radius: 5px;
}

.monthYear {
  display: none;
}
  
.monthYear > span {
  font-size: 0.5em;
  margin-left: 5px;
  margin-top: calc(var(--lineSpacing) * 0.25);
}

.show {
  display: block;
}

.hide {
  display: none;
}

.editBar {
  flex-grow: 1;
  border: none;
  font: var(--font);
  color: var(--foreground);
  background: transparent;
  resize: none;
  overflow-y: hidden;
}

.editSpan {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

:not(.heading) .task.heading > div > textarea, .list > input {
  font-weight: var(--bold);
}

.editBar, .searchBar {
  font-weight: var(--fontWeight);
  border-radius: 5px;
}

.task .task.heading > div > textarea {
  font-style: italic;
  font-weight: var(--fontWeight);
}

.task .task textarea {
  font-size: 85%;
}

.task .task span {
  font-size: 42%;
  line-height: 1.15em;
}

.task .task .startEndSpans {
  height: 0.85em;
  line-height: 1em;
}